In [20]:
import pandas as pd
import numpy as np

In [21]:
train = pd.read_csv('data/real_train.csv', index_col = [0], encoding = 'euc-kr')

In [22]:
train.head()

,gu,dong,apt,exclusive_use_area,year_of_completion,floor,transaction_real_price,hanriver,transaction_year,hakgun,...,pop,gu_area,diff_year,rebuilding,river_re,강남과의 거리,kangnam,gu_mean,apt_age_group,dep_shop
0,송파구,가락동,시영1,51.40,1980,4,69000,0,2008,6,...,676580,33.88,28,0,1,4.354,2,69447,20,1
1,송파구,가락동,시영1,40.09,1980,5,55000,0,2008,6,...,676580,33.88,28,0,1,4.354,2,69447,20,1
2,송파구,가락동,가락(1차)쌍용아파트,84.69,1997,1,52500,0,2008,6,...,676580,33.88,11,0,1,4.354,2,69447,10,1
3,송파구,가락동,가락한일유앤아이,100.95,2003,7,39500,0,2008,6,...,676580,33.88,5,0,1,4.354,2,69447,0,1
4,송파구,가락동,시영1,51.40,1980,4,56200,0,2008,6,...,676580,33.88,28,0,1,4.354,2,69447,20,1

In [23]:
gu_dis = pd.read_csv('data/seoul_gu_x_y.csv', index_col = [0], encoding = 'euc-kr')
gu_dis.loc[gu_dis['시군구명_한글'] == '강남구']

    시군구코드 시군구명_한글     시군구명_영문  ESRI_PK         위도          경도
순번
10  11680     강남구  Gangnam-gu        9  37.495985  127.066409

In [24]:
from haversine import haversine

In [25]:
gu_dis_x = list(gu_dis['위도'])
gu_dis_y = list(gu_dis['경도'])

In [26]:
# for i in range(len(train_x)):
distance = []
for j in range(len(gu_dis_x)):
    start = (37.495985, 127.066409)
    goal = (gu_dis_x[j], gu_dis_y[j])
    distance.append(round(haversine(start, goal), 3))
distance

[19.134,
 18.531,
 9.862,
 10.772,
 15.204,
 18.376,
 13.473,
 17.399,
 11.316,
 0.0,
 22.852,
 9.382,
 9.214,
 6.046,
 15.734,
 3.293,
 12.917,
 17.736,
 4.354,
 14.981,
 18.864,
 13.727,
 11.34,
 6.482,
 8.479]

In [27]:
len(distance)

25

In [28]:
gu_dis['강남과의 거리'] = distance
gu_dis

    시군구코드 시군구명_한글          시군구명_영문  ESRI_PK         위도          경도  강남과의 거리
순번
1   11320     도봉구        Dobong-gu        0  37.665861  127.031767   19.134
2   11380     은평구     Eunpyeong-gu        1  37.617612  126.922700   18.531
3   11230    동대문구    Dongdaemun-gu        2  37.583801  127.050700    9.862
4   11590     동작구       Dongjak-gu        3  37.496504  126.944307   10.772
5   11545     금천구     Geumcheon-gu        4  37.460097  126.900155   15.204
6   11530     구로구          Guro-gu        5  37.495486  126.858121   18.376
7   11110     종로구        Jongno-gu        6  37.599100  126.986149   13.473
8   11305     강북구       Gangbuk-gu        7  37.646995  127.014716   17.399
9   11260     중랑구      Jungnang-gu        8  37.595379  127.093967   11.316
10  11680     강남구       Gangnam-gu        9  37.495985  127.066409    0.000
11  11500     강서구       Gangseo-gu       10  37.565762  126.822656   22.852
12  11140      중구          Jung-gu       11  37.557945  126.994190    9.382
13  11740     강동구      Gangdong-gu       12  37.549208  127.146482    9.214
14  11215     광진구      Gwangjin-gu       13  37.548144  127.085753    6.046
15  11440     마포구          Mapo-gu       14  37.562291  126.908780   15.734
16  11650     서초구        Seocho-gu       16  37.476953  127.037810    3.293
17  11290     성북구      Seongbuk-gu       17  37.606991  127.023218   12.917
18  11350     노원구         Nowon-gu       18  37.655264  127.077120   17.736
19  11710     송파구        Songpa-gu       19  37.504853  127.114482    4.354
20  11410    서대문구     Seodaemun-gu       21  37.582037  126.935667   14.981
21  11470     양천구     Yangcheon-gu       22  37.527062  126.856153   18.864
22  11560    영등포구  Yeongdeungpo-gu       23  37.520641  126.913924   13.727
23  11620     관악구        Gwanak-gu       15  37.465399  126.943807   11.340
24  11200     성동구     Seongdong-gu       20  37.550675  127.040962    6.482
25  11170     용산구       Yongsan-gu       24  37.531101  126.981074    8.479

In [29]:
gu_kangnam = gu_dis.sort_values(by = ['강남과의 거리'])
gu_kangnam

gu_kangnam['강남까지'] = [i for i in range(len(gu_dis))]
gu_kangnam

,시군구코드,시군구명_한글,시군구명_영문,ESRI_PK,위도,경도,강남과의 거리,강남까지
순번,,,,,,,,
10,11680,강남구,Gangnam-gu,9,37.495985,127.066409,0.000,0
16,11650,서초구,Seocho-gu,16,37.476953,127.037810,3.293,1
19,11710,송파구,Songpa-gu,19,37.504853,127.114482,4.354,2
14,11215,광진구,Gwangjin-gu,13,37.548144,127.085753,6.046,3
24,11200,성동구,Seongdong-gu,20,37.550675,127.040962,6.482,4
25,11170,용산구,Yongsan-gu,24,37.531101,126.981074,8.479,5
13,11740,강동구,Gangdong-gu,12,37.549208,127.146482,9.214,6
12,11140,중구,Jung-gu,11,37.557945,126.994190,9.382,7
3,11230,동대문구,Dongdaemun-gu,2,37.583801,127.050700,9.862,8
4,11590,동작구,Dongjak-gu,3,37.496504,126.944307,10.772,9
9,11260,중랑구,Jungnang-gu,8,37.595379,127.093967,11.316,10
23,11620,관악구,Gwanak-gu,15,37.465399,126.943807,11.340,11
17,11290,성북구,Seongbuk-gu,17,37.606991,127.023218,12.917,12
7,11110,종로구,Jongno-gu,6,37.599100,126.986149,13.473,13
22,11560,영등포구,Yeongdeungpo-gu,23,37.520641,126.913924,13.727,14
20,11410,서대문구,Seodaemun-gu,21,37.582037,126.935667,14.981,15
5,11545,금천구,Geumcheon-gu,4,37.460097,126.900155,15.204,16
15,11440,마포구,Mapo-gu,14,37.562291,126.908780,15.734,17
8,11305,강북구,Gangbuk-gu,7,37.646995,127.014716,17.399,18
18,11350,노원구,Nowon-gu,18,37.655264,127.077120,17.736,19
6,11530,구로구,Guro-gu,5,37.495486,126.858121,18.376,20
2,11380,은평구,Eunpyeong-gu,1,37.617612,126.922700,18.531,21
21,11470,양천구,Yangcheon-gu,22,37.527062,126.856153,18.864,22
1,11320,도봉구,Dobong-gu,0,37.665861,127.031767,19.134,23
11,11500,강서구,Gangseo-gu,10,37.565762,126.822656,22.852,24

In [30]:
gu_kangnam['gu'] = gu_kangnam['시군구명_한글']
gu_kangnam['kangnam'] = gu_kangnam['강남까지']
del gu_kangnam['시군구코드']
del gu_kangnam['시군구명_한글']
del gu_kangnam['시군구명_영문']
del gu_kangnam['ESRI_PK']
del gu_kangnam['위도']
del gu_kangnam['강남까지']
del gu_kangnam['경도']

gu_kangnam

    강남과의 거리    gu  kangnam
순번
10    0.000   강남구        0
16    3.293   서초구        1
19    4.354   송파구        2
14    6.046   광진구        3
24    6.482   성동구        4
25    8.479   용산구        5
13    9.214   강동구        6
12    9.382    중구        7
3     9.862  동대문구        8
4    10.772   동작구        9
9    11.316   중랑구       10
23   11.340   관악구       11
17   12.917   성북구       12
7    13.473   종로구       13
22   13.727  영등포구       14
20   14.981  서대문구       15
5    15.204   금천구       16
15   15.734   마포구       17
8    17.399   강북구       18
18   17.736   노원구       19
6    18.376   구로구       20
2    18.531   은평구       21
21   18.864   양천구       22
1    19.134   도봉구       23
11   22.852   강서구       24

In [32]:
del train['강남과의 거리']
del train['kangnam']

train.head()

,gu,dong,apt,exclusive_use_area,year_of_completion,floor,transaction_real_price,hanriver,transaction_year,hakgun,...,year_of_completion_group,park_gaesu,pop,gu_area,diff_year,rebuilding,river_re,gu_mean,apt_age_group,dep_shop
0,송파구,가락동,시영1,51.40,1980,4,69000,0,2008,6,...,1980,0,676580,33.88,28,0,1,69447,20,1
1,송파구,가락동,시영1,40.09,1980,5,55000,0,2008,6,...,1980,0,676580,33.88,28,0,1,69447,20,1
2,송파구,가락동,가락(1차)쌍용아파트,84.69,1997,1,52500,0,2008,6,...,1990,0,676580,33.88,11,0,1,69447,10,1
3,송파구,가락동,가락한일유앤아이,100.95,2003,7,39500,0,2008,6,...,2000,1,676580,33.88,5,0,1,69447,0,1
4,송파구,가락동,시영1,51.40,1980,4,56200,0,2008,6,...,1980,0,676580,33.88,28,0,1,69447,20,1

In [33]:
train = pd.merge(train,gu_kangnam,on=['gu'], how='outer')
train

,gu,dong,apt,exclusive_use_area,year_of_completion,floor,transaction_real_price,hanriver,transaction_year,hakgun,...,pop,gu_area,diff_year,rebuilding,river_re,gu_mean,apt_age_group,dep_shop,강남과의 거리,kangnam
0,송파구,가락동,시영1,51.40,1980,4,69000,0,2008,6,...,676580,33.88,28,0,1,69447,20,1,4.354,2
1,송파구,가락동,시영1,40.09,1980,5,55000,0,2008,6,...,676580,33.88,28,0,1,69447,20,1,4.354,2
2,송파구,가락동,가락(1차)쌍용아파트,84.69,1997,1,52500,0,2008,6,...,676580,33.88,11,0,1,69447,10,1,4.354,2
3,송파구,가락동,가락한일유앤아이,100.95,2003,7,39500,0,2008,6,...,676580,33.88,5,0,1,69447,0,1,4.354,2
4,송파구,가락동,시영1,51.40,1980,4,56200,0,2008,6,...,676580,33.88,28,0,1,69447,20,1,4.354,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742280,강북구,우이동,대우,59.94,2000,1,32500,0,2017,11,...,328002,23.60,17,0,1,32847,10,1,17.399,18
742281,강북구,우이동,성원상떼빌,84.98,1990,10,34000,0,2017,11,...,328002,23.60,27,0,1,32847,20,1,17.399,18
742282,강북구,우이동,성원상떼빌,84.98,1990,5,32300,0,2017,11,...,328002,23.60,27,0,1,32847,20,1,17.399,18
742283,강북구,우이동,대우,84.93,2000,1,39700,0,2017,11,...,328002,23.60,17,0,1,32847,10,1,17.399,18
742284,강북구,우이동,대우,84.93,2000,1,41500,0,2017,11,...,328002,23.60,17,0,1,32847,10,1,17.399,18

In [13]:
b = []
c = []
for i in train['gu'].unique():
    a = train.loc[train['gu'] == i]['transaction_real_price'].mean()
    b.append(a)
    
b

[48968.88591426072,
 53621.843016961386,
 84635.43404414515,
 52946.757005404994,
 56677.571809548586,
 37643.15194388777,
 30611.30146839753,
 38026.40540831717,
 32846.52388797364,
 28289.35775378989,
 29212.90848127293,
 38865.08629800887,
 91290.44353366298,
 39217.82842382395,
 52881.136045510684,
 50568.22859906497,
 36881.131408649686,
 33601.229031645744,
 28286.29577347837,
 46139.70625882353,
 50967.817374171595,
 36150.16904346345,
 93760.4505476933,
 69447.39020338787,
 46180.32238618378]

In [18]:
train

,gu,dong,exclusive_use_area,year_of_completion,floor,transaction_real_price,hanriver,transaction_year,hakgun,exclusive_use_area_group,...,year_of_completion_group,park_gaesu,pop,gu_area,diff_year,rebuilding,dep_shop,river_re,강남과의 거리,kangnam
0,종로구,신교동,84.82,2002,2,37500,0,2008,5,2,...,2000,2,179754,23.91,6,0,0,1,13.473,13
1,종로구,필운동,99.17,1973,6,20000,0,2008,5,3,...,1970,3,179754,23.91,35,1,0,3,13.473,13
2,종로구,필운동,84.74,2007,6,38500,0,2008,5,2,...,2000,2,179754,23.91,1,0,0,1,13.473,13
3,종로구,내수동,146.39,2003,15,118000,0,2008,5,4,...,2000,3,179754,23.91,5,0,0,1,13.473,13
4,종로구,내수동,194.43,2004,3,120000,0,2008,5,4,...,2000,3,179754,23.91,4,0,0,1,13.473,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742280,강동구,강일동,59.72,2011,9,53000,0,2017,6,1,...,2010,1,440359,24.59,6,0,1,1,9.214,6
742281,강동구,강일동,59.87,2009,12,53000,0,2017,6,1,...,2000,0,440359,24.59,8,0,1,1,9.214,6
742282,강동구,강일동,84.74,2009,3,56500,0,2017,6,2,...,2000,0,440359,24.59,8,0,1,1,9.214,6
742283,강동구,강일동,84.74,2009,9,55500,0,2017,6,2,...,2000,0,440359,24.59,8,0,1,1,9.214,6
742284,강동구,강일동,84.98,2011,8,63750,0,2017,6,2,...,2010,1,440359,24.59,6,0,1,1,9.214,6

In [14]:
train['gu'].unique()

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '강남구', '서대문구', '마포구', '양천구', '강서구', '구로구',
       '금천구', '영등포구', '동작구', '관악구', '서초구', '송파구', '강동구'], dtype=object)

In [15]:
train['gu_real_mean'] = 0
for i in range(len(train['gu'].unique())):
    train['gu_real_mean'] = np.where(train['gu'] == train['gu'].unique()[i], b[i], train['gu_real_mean'])

In [16]:
train.head()

,gu,dong,exclusive_use_area,year_of_completion,floor,transaction_real_price,hanriver,transaction_year,transaction_month,transaction_date,...,area_rank,floor_area,river_study,var_1,diff_year,rebuilding,river_re,강남과의 거리,kangnam,gu_real_mean
0,종로구,신교동,84.82,2002,2,37500,0,2008,1,2,...,11,0,9,442.112709,6,0,1,13.473,13,48968.885914
1,종로구,필운동,99.17,1973,6,20000,0,2008,1,0,...,11,0,9,201.673893,35,1,2,13.473,13,48968.885914
2,종로구,필운동,84.74,2007,6,38500,0,2008,1,0,...,11,0,9,454.330895,1,0,1,13.473,13,48968.885914
3,종로구,내수동,146.39,2003,15,118000,0,2008,1,1,...,11,30,9,806.065988,5,0,1,13.473,13,48968.885914
4,종로구,내수동,194.43,2004,3,120000,0,2008,1,2,...,11,0,9,617.188705,4,0,1,13.473,13,48968.885914

In [24]:
df_kangnam = train[['gu', 'dong', 'gu_real_mean', '강남과의 거리', 'kangnam', 'transaction_real_price','hanriver']]

In [25]:
df_kangnam.corr()
# 강남과의 거리가 가까울수록 가격이 높아진다.

,gu_real_mean,강남과의 거리,kangnam,transaction_real_price,hanriver
gu_real_mean,1.000000,-0.814586,-0.766602,0.595201,0.278301
강남과의 거리,-0.814586,1.000000,0.984601,-0.484843,-0.186741
kangnam,-0.766602,0.984601,1.000000,-0.456283,-0.219240
transaction_real_price,0.595201,-0.484843,-0.456283,1.000000,0.267099
hanriver,0.278301,-0.186741,-0.219240,0.267099,1.000000

In [36]:
train

,gu,dong,exclusive_use_area,year_of_completion,floor,transaction_real_price,hanriver,transaction_year,hakgun,exclusive_use_area_group,...,year_of_completion_group,dep_shop,park_gaesu,pop,gu_area,diff_year,rebuilding,river_re,강남과의 거리,kangnam
0,종로구,신교동,84.82,2002,2,37500,0,2008,5,2,...,2000,0,2,179754,23.91,6,0,1,13.473,13
1,종로구,필운동,99.17,1973,6,20000,0,2008,5,3,...,1970,0,3,179754,23.91,35,1,2,13.473,13
2,종로구,필운동,84.74,2007,6,38500,0,2008,5,2,...,2000,0,2,179754,23.91,1,0,1,13.473,13
3,종로구,내수동,146.39,2003,15,118000,0,2008,5,4,...,2000,0,3,179754,23.91,5,0,1,13.473,13
4,종로구,내수동,194.43,2004,3,120000,0,2008,5,4,...,2000,0,3,179754,23.91,4,0,1,13.473,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742280,강동구,강일동,59.72,2011,9,53000,0,2017,6,1,...,2010,1,1,440359,24.59,6,0,1,9.214,6
742281,강동구,강일동,59.87,2009,12,53000,0,2017,6,1,...,2000,1,0,440359,24.59,8,0,1,9.214,6
742282,강동구,강일동,84.74,2009,3,56500,0,2017,6,2,...,2000,1,0,440359,24.59,8,0,1,9.214,6
742283,강동구,강일동,84.74,2009,9,55500,0,2017,6,2,...,2000,1,0,440359,24.59,8,0,1,9.214,6
742284,강동구,강일동,84.98,2011,8,63750,0,2017,6,2,...,2010,1,1,440359,24.59,6,0,1,9.214,6

In [34]:
train.to_csv('data/real_train.csv', encoding = 'euc-kr')

In [23]:
df_kangnam.to_csv('data/train_kangnam.csv', encoding = 'euc-kr')